<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{title}}</title>	
	<link rel="stylesheet" type="text/css" href="/static/style.css">
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css"
	
	<script src="/static/js/bootstrap.bundle.js"></script>
	
</head>
<body>
	<div>
		<div class="title" style="height: 60px; position: sticky; top: 0px; width:100%">
			Welcome to "IELTS WRITING SOLUTIONS"
		</div>
		
		<div class="nav" style="height: 5px; border-radius:5px; background-color: rgb(174, 188, 33);"></div>
		<div style="margin-top: 2px; height: 30px; margin-bottom: 10px;">
			<ul class="nav nav-pills nav-fill" style="height: 20px; font-size: 20px; ">
				<li class="nav-item">
				  <a class="nav-link" href="/">HOME</a>
				</li>
				<li class="nav-item">
				  <a class="nav-link" href="/essaytopic">ESSAY TOPICS</a>
				</li>
				<!-- <li class="nav-item">
				  <a class="nav-link" href="/vocabulary">VOCABULARY</a> -->
				<!-- </li> -->
				<li class="nav-item">
				  <a class="nav-link" href="/contact">CONTACT</a>
				</li>
			  </ul>
			
		</div>	
        
	