{% extends 'basehome.html'%}

{% block content %}
<div style=" display: flex;background-color: rgba(233,255,255);margin-top: 10px;">

	<div style="width:80%">

		<div style="text-align: justify; margin-left: 50px; margin-right: 50px;">
			<text class="display-6">
				It's time to master IELTS essay writing!</text>
			<p class="font-italic"><br>
				<i>Welcome to the ultimate platform of “Mastering IELTS Essay Writing”. This platform is meticulously
					crafted to assist students and learners at all levels in ameliorating their essay writing skills,
					tailored specifically for success in the International English Language Testing System (IELTS) exam.
					This website is a comprehensive resource specifically designed to help the test-takers to improve
					their
					writing skills. This platform is dedicated to serving intensive guidance and tools to achieve their
					goals.</i>
			</p>
			<p class="text-justify"><text class='display-6'>Our mission </text><i>is to equip individuals with the tools
					they need to excel in the IELTS writing segment
					through an extensive array of tutorials, practice exercises, sample essays, and expert insights.
					It is a user-friendly interface providing interactive resources and a wealth of knowledge that
					empowers
					learners to navigate the complexities of IELTS essay writing with confidence and finesse. Whether
					you're
					aiming to enhance your foundational skills or striving for mastery, this platform will be your
					companion
					to this sojourn.Embark on a journey that promises not only improved essay writing prowess but also a
					deeper
					understanding of the IELTS assessment criteria. As you explore our content-rich sections, you'll
					find
					the guidance you seek to elevate your writing, express your ideas articulately, and achieve coveted
					results in the IELTS writing section.</i></p><br>

			<text class="display-6">What is IELTS?</text>
			<p class="text-justify"><i>IELTS stands for “International English Language Testing System” which is an
					English language test,
					globally conducted for non-native students and migrants to English-speaking nations. It is a
					proficiency
					test developed and run by the British Council in partnership with IDP Education and Cambridge
					Assessment
					English.</i></p>


			<text class="display-6">Why IELTS?</text>
			<p class="text-justify"><i>This test is follows an assessment criteria of English language that has helped
					millions of
					international students and global migrants worldwide to fulfill their dream to settle in developed
					English-speaking countries and achieve their career growth.</i></p>

			<i><b>Which IELTS test I should take?</b>
				<br><i><b>A. Academic IELTS</b>
					<p class="text-justify"><i>This test assesses formal English level that is taken by international
							students and working
							professionals who wish to work overseas.</i></p>
					<b>B. General IELTS</b>
					<p class="text-justify"><i>General IELTS is generally taken by immigrants who wish to settle abroad.
							This is an assessment of
							English language usage in day-to-day life.</i></p>
					<b>C. UKVI IELTS</b>
					<p class="text-justify"><i>IELTS for UKVI is intended for the aspirations who wish to study or
							settle specifically in the UK.
							Note: The test I should take and the band score requirements depend on the the country I
							wish to move,
							the visa requirements or the college/University/workplace to wish to study/ work with.</i>
					</p>
					<b>D. IELTS life skills (A1, A2 or B1)</b>
					<p class="text-justify"><i>Some immigrants such as visitors for any purposes like sportspersons,
							international business
							representatives, case of family extension( spouse, fiance, fiancee or dependents) need to
							take for IELTS
							life skills either for temporary or permanent settlement.</i></p>
					</p>
					<div>
						<text class="display-6"> IELTS Writing Task-2 'Essay' </text>
						<ul style="font-size: 16px;">
							<li style="margin-top:20px; color: black;">
								Some people believe that travelling with in a city is better by car while some think
								bi-cycle is the best way for that. Discuss both and give your opinion.
								<p style="font-size: smaller;">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
									Phasellus imperdiet, nulla et dictum interdum, nisi lorem egestas vitae scel<span id="dots">...</span><span
										id="more">erisque enim ligula venenatis dolor. Maecenas nisl est, ultrices nec
										congue eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Nunc
										sagittis dictum nisi, sed ullamcorper ipsum dignissim ac. In at libero sed nunc
										venenatis imperdiet sed ornare turpis. Donec vitae dui eget tellus gravida
										venenatis. Integer fringilla congue eros non fermentum. Sed dapibus pulvinar
										nibh tempor porta.</span></p>
								<button onclick="myFunction()" id="myBtn"><a href="/signup/">Read more</a></button></p>
								<script>
									function myFunction() {
										var dots = document.getElementById("dots");
										var moreText = document.getElementById("more");
										var btnText = document.getElementById("myBtn");

										if (dots.style.display === "none") {
											dots.style.display = "inline";
											btnText.innerHTML = "Read more";
											moreText.style.display = "none";
										} else {
											dots.style.display = "none";
											btnText.innerHTML = "Read less";
											moreText.style.display = "inline";
										}
									}
								</script>

							</li>
							<li>
								Some people think that slaying animals is brutal and not required. Others believe that
								it is an unavoidable part of a diet. What stand do you take?
							</li>
						</ul>

					</div>
		</div>

	</div>

	<div style=" height: 900px; width:100%;margin-top: 0px; ">
		<div
			style="background: rgb(135, 206, 235,.5);height:200px; margin-top: 20px; text-align: center;font-size: 18px; color:black; border-radius:10px">
			Login/Signup
			<center>
				<form style="margin-top: 10px;  width: 200px;" method="POST">
					{% csrf_token %}
					<input type="text" name="username" placeholder="Enter your user id" style="margin-bottom: 0px;">
					<input type="password" name="password" placeholder="password" style="margin-bottom: 0px"><br>
					<input type="submit" name="login" value="Login"
						style="background:rgb(125, 205, 236);color:black;width: 90px; height:35px; margin-bottom: 5px; margin-top: 15px;border: none;">
					<a href="{% url 'signup' %}" target="_blank" type="text/html"><input type="button" name="signup"
							value="Signup"
							style="background:rgb(125, 205, 236);color:black;border:none;width: 90px; height:35px;"></a>
				</form>
			</center>
		</div>

		<div style="margin: 0px; padding:0px;">
			<center>
				<video preload="" autoplay="" muted="" loop="infinite">
					<source src="/static/vid2.mp4" type="video/mp4">
					Browser does not support video format
				</video>
			</center>
		</div>
	</div>

</div>
{% endblock %}
