{% extends "basehome.html" %}

{% block content %}
<div style="width:1350px; display: flex; background-color: rgba(233,255,255); ">

	<div style="width: 50%; background-color: rgb(187, 216, 236);">
		<form method="POST" action=""style="text-align:center; padding:50px 0;" class="form">
			{% csrf_token %}
			<!-- {{form.as_p}} -->

			User Id:&emsp;&emsp;&ensp;<input type="username" name="username" placeholder="Enter your user id"
				style="margin-bottom: 5px;" required=""><br>Email Id:&emsp;&emsp;<input type="email" name="email"
				placeholder="Enter your user id" style="margin-bottom: 5px;" required=""><br>
			First Name&emsp;<input type="text" style="margin-bottom: 5px" name="firstname" placeholder="Enter your name" required=""><br>
			Last Name&emsp;&nbsp;<input type="text" style="margin-bottom: 5px" name="lastname" placeholder="Enter your name"><br>
			DOB&emsp;&ensp;&emsp;&emsp;&emsp;&emsp;&emsp;<input type="date" style="margin-bottom: 5px" name="dateofbirth" required=""><br>
			Gender:&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<input type="radio" name="gender" value="m" required="">Male
			<input type="radio" name="gender" value="f">Female<br>
			Password:&ensp;&ensp;&nbsp;<input type="password" style="margin-bottom: 5px" name="password" placeholder="Password"
				style="margin-bottom: 5px" required=""><br>
			&emsp;&emsp;&nbsp;&emsp;&ensp;&emsp;&emsp;<input type="password"  name="password2" placeholder="Confirm password"
				style="margin-bottom: 5px" required=""><br><br>
			<input type="submit" name="signup" value="Signup"
				style="background:rgb(217, 219, 86);color:black;width: 90px; height:35px; margin-left: 90px; margin-top: 10px;border: none;">
		</form>
	</div>
	
	
	<div style="width: 50%; background-color: rgb(216, 219, 3) ;">
		<form class="form" method="POST" style="text-align: center; padding: 100px 0;">
			{% csrf_token %}
			<!-- {{form.as_p}} -->
			User Id:&emsp;&emsp;&ensp;<input type="text" name="username" placeholder="Enter your user id"
				style="margin-bottom: 5px;" required=""><br><br>
			Password:&emsp;&ensp;&nbsp;<input type="password" name="password" placeholder="Password"
				style="margin-bottom: 5px" required=""><br><br>
				<input type="submit" name="sigin" value="Login"
				style="background:rgb(125, 205, 236);color:black;width: 90px; height:35px; margin-left: 90px; margin-top: 10px;border: none;"><br><br><br><br><br><br><br>
		</form>
	</div>
		
		
	
</div>

{% endblock %}