<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" type="text/css" href="style.css">

</head>

<body>
	<div>
		<ol style="padding: 30px; width: 950px; width: 900px;">
			<a href="/workinglife" type="text/html" target="_blank" style="text-decoration:none; font-size:20px;color: blue;">
				<li>Some people believe that travelling with in a city is better by car while some think bi-cycle is the
					best way for that. Discuss both and give your opinion.</li>
			</a>
			<a href="/workinglife" type="text/html" target="_blank" style="text-decoration:none; font-size:20px;color: blue;">
				<li>Some people think that slaying animals is brutal and not required. Others believe that it is an
					unavoidable part of a diet. What stand do you take?</li>
			</a>
			<a href="/workinglife" type="text/html" target="_blank" style="text-decoration:none; font-size:20px;color: blue;">
				<li>In western countries, young boys and girls go in for love marriage while in some countries marriage
					is arranged by the parents. Which, in your opinion, is better system?</li>
			</a>
			<a href="/workinglife" type="text/html" target="_blank" style="text-decoration:none; font-size:20px;color: blue;">
				<li>Road accidents are on the rise day by day. Some people think that strict punishment for driving
					offences is the only way to check these road mishaps and increase safety on the roads. Do you agree
					or disagree?</li>
			</a>
			<a href=".html" type="text/html" target="_blank" style="text-decoration:none; font-size:20px;color: blue;">
				<li>Computers may have brought tremendous benefits to mankind but their negative impacts on children
					cannot be overlooked. Do you agree or disagree?</li>
			</a>
			<a href="/workinglife" type="text/html" target="_blank" style="text-decoration:none; font-size:20px;color: blue;">
				<li>Recent studies have shown that over-weight people tend to eat junk food that are high in unhealthy
					fats. Some people argue that an increase in the price of such foods will serve as a deterrent and
					thus reduce the number of over-weights. Do you agree or disagree? </li>
			</a>
			<a href="/workinglife" type="text/html" target="_blank" style="text-decoration:none; font-size:20px;color: blue;">
				<li>Big Shopping malls have sprung up in recent years, giving tough competition to small markets. Do you
					think the small shops will be able to survive the competition?</li>
			</a>
			<a href="/workinglife" type="text/html" target="_blank"
				style="text-decoration:none; font-size:20px;color: blue;">
				<li>Some people are of the opinion that financial education should be made mandatory part of school
					education. Do you agree or disgaree with these people?</li>
			</a>
			<a href="/workinglife" type="text/html" target="_blank"
				style="text-decoration:none; font-size:20px;color: blue;">
				<li>Although today there are many modes of transportation available yet certain people think that
					bi-cycle is the best way to get from one place to another. Do you agree or disagree?</li>
			</a>
			<a href= "/workinglife" type="text/html" target="_blank" style="text-decoration:none; font-size:20px;color: blue;">
				<li>Some people work for the same organisation all their working life. other's think that it is better
					to work for different organisations. Discuss both views and give your opinion.</li>
			</a>
		</ol>
	</div>
</body>

</html>